body {
  color: #fffcfa;
}

/* Estilos generales para resetear listas */
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container,
.social-container {
  margin: 0 10px;
  padding: 0;
  overflow: hidden;
}

/* Estilos para el contenedor del menú */
.menu-container {
  width: 100vw;
  height: 60px;
  /* Altura recomendada para el menú en móvil */
  background: linear-gradient(to right, #686263, #474545);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  /* Padding para darle espacio a los lados */
}

/* Estilos para la navegación */
.nav-container {
  display: flex;
  gap: 10px;
  /* Espacio entre los elementos de navegación */
}

.nav-container li a {
  text-decoration: none;
  color: white;
  /* Color del texto del enlace */
  padding: 10px 5px;
  /* Padding para que los enlaces sean más clicables */
  transition: background-color 0.3s;
  /* Transición suave para el hover */
}

.nav-container li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* Fondo semi-transparente al pasar el ratón */
  border-radius: 5px;
  /* Bordes redondeados */
}

/* Estilos para el contenedor de redes sociales */
.social-container {
  display: flex;
  gap: 10px;
  /* Espacio entre los iconos sociales */
}

.social-img {
  width: 25px;
  /* Tamaño menor para dispositivos móviles */
  height: 25px;
  transition: transform 0.3s;
  /* Transición suave para el hover */
}

.social-img:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño de los iconos al pasar el ratón */
}


/* -------------------------------main-------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.logo-container {
  width: 100%;
  height: 200px;
  /* URL de la imagen que deseas establecer como fondo */
  background-image: url('./assets/imagen_1.jpg');

  /* Ajustes opcionales */
  background-size: 100% 100%;
  /* Ancho y altura en porcentajes */
  background-position: inherit;
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo-container img {
  width: 80%;
  height: auto;
}

.conoceme-container {
  max-width: 100%;
  background: linear-gradient(to right, #686263, #474545);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conoceme-info,
.conoceme-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conoceme-info {
  flex-direction: column;
  width: 80%;
  /* Ancho del contenido */
  margin: 0 auto;
  /* Centrar el contenido horizontalmente */
  padding: 0 10px;
  /* Espacio en los lados del contenido */
  box-sizing: border-box;
  /* Incluir el padding en el ancho total */
}

.conoceme-info p,
.escogernos-texto p,
.terminos p,
.condiciones p {
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 0.8em;
}

.conoceme-img img {
  width: 90%;
  height: auto;
  padding-bottom: 1.3em;
}

.escogernos-container {
  background-image: url('./assets/imagen_3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.escogernos-texto {
  width: 80%;
  /* Ancho del contenido */
  margin: 0 auto;
  /* Centrar el contenido horizontalmente */
  box-sizing: border-box;
  /* Incluir el padding en el ancho total */
}

.servicios-container {
  background: linear-gradient(to bottom, #686263, #474545);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.servicios-info {
  width: 90vw;
  /* Ancho del contenido */
  margin: 0 auto;
  /* Centrar el contenido horizontalmente */
  box-sizing: border-box;
  /* Incluir el padding en el ancho total */
  display: flex;
  flex-direction: column;
  gap: 30px
}

.servicio,
.servicio-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.servicio {
  border: 1px solid white;
}

.servicio-img img {
  width: 100%;
  height: auto;
}

.servicio-info {
  padding-left: 10px;
}

.servicio-info h4 {
  font-weight: 100;
  /* Establece el grosor de la fuente en negrita */
}

.procedimientos-container {
  background: linear-gradient(to bottom, #686263, #474545);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: 1.3em;
}

.procedimientos-container section {
  width: 90vw;
  /* Ancho del contenido */
  margin: 0 auto;
  /* Centrar el contenido horizontalmente */
  box-sizing: border-box;
  /* Incluir el padding en el ancho total */
}

.videos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: auto;
}

.contacto-container {
  width: 100vw;
  background-image: url('./assets/imagen_4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;

}

.contacto-container h2 {
  text-align: center;
}

.contacto-info,
.social-container,
.horarios-container,
.map-container {
  padding: 0 20px;
}

.contacto-info h4,
.horarios-container h4 {
  font-size: 20px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminos-condiciones-container {
  background: linear-gradient(to right, #686263, #474545);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

.terminos-condiciones {
  width: 90vw;
  margin: 0;
  text-align: center;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/* .terminos p, .condiciones p {
  font-weight: 1;
  font-size: 0.8em;
  margin: 0.8em;
} */

.aclaracion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1em;
  font-size: 0.8em;
}

/* Media query para pantallas más grandes */
@media (min-width: 400px) {
  .logo-container {
    height: 22%;
    /* Tamaño mayor para pantallas más grandes */
    max-height: 500px;
  }

  .logo-container img {
    width: 80%;
    height: 100%;
    max-height: 100%;
  }
}

@media (min-width: 768px) {
  .nav-container li a {
    font-size: 1.2em;
    padding: 10px;
  }

  .social-img {
    width: 60px;
    height: 2.1em;
  }

  .logo-container img {
    max-width: 60%;
    max-height: 60%;
  }

  .conoceme-container {
    flex-direction: row-reverse;
    gap: 0;
  }

  .conoceme-info p,
  .escogernos-texto p,
  .terminos p,
  .condiciones p {
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 0.9em;
  }

  h2,
  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1em;
  }

  .servicios-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .servicios-info h3 {
    font-size: 1.2em;
  }

  .servicios-info h4 {
    font-size: 0.9em;
  }

  .servicio {
    width: 30vw;
  }

  .servicio-img {
    width: 100%;
  }

  .servicio-img img {
    width: 100%;
  }

  .servicio-info {
    max-width: 90%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .videos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .video-container {
    width: 27vw;
  }
}

@media (min-width: 1200px) {
  .nav-container li a {
    font-size: 1.2em;
    padding: 10px;
  }

  .social-img {
    width: 60px;
    height: 2.1em;
  }

  .logo-container img {
    max-width: 800px;
  }

  .conoceme-img img {
    height: auto;
    max-height: 600px;
    max-width: 600px;
    padding: 1.3em 0;
  }

  .conoceme-container {
    flex-direction: row-reverse;
    gap: 0;
  }

  .conoceme-info p,
  .escogernos-texto p,
  .terminos p,
  .condiciones p {
    font-size: 1.5em;
  }

  h2,
  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 1.5em;
  }

  .servicios-info h3 {
    font-size: 2em;
  }

  .servicios-info h4 {
    font-size: 1.8em;
  }

  .procedimientos-container section p {
    font-size: 1.8em;
  }

  .videos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8vw;
  }

  .video-container {
    width: 20vw;
  }

  .video-container video {
    width: 100%;
  }

  .contacto-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Agrega dos columnas al contenedor */
    grid-template-rows: auto auto auto auto;
    /* Agrega dos filas al contenedor */
    gap: 20px;
  }

  .contacto {
    grid-column: 1/3;

  }

  .contacto-info {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto-info h4 {
    font-size: 2.2em;
  }

  .contacto-info p {
    font-size: 1.8em;
  }

  .horarios-container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .horarios-container h4 {
    font-size: 2.2em;
  }

  .horarios-container p {
    font-size: 1.8em;
  }

  .social-container {
    grid-column: 1/3;
    padding: 20px;
  }

  .social img {
    height: auto;
  }

  .map-container {
    grid-column: 1/3;
  }

  .terminos-condiciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    gap: 20px;
  }

  .terminos {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .terminos h3 {
    display: flex;
    justify-content: center;
  }

  .terminos p {
    display: flex;
    justify-content: center;
  }

  .condiciones {
    grid-row: 1/2;
  }

  .condiciones h3 {
    display: flex;
    justify-content: center;
  }

  .aclaracion p {
    font-size: 1.5em;
  }

}
